<div class="container"> 
  <div class="show-page">  
    <h2><%= @article.title %></h2>
    <img src="<%= @article.image_url %>" align=left width="200px" height="250px">
    <h3>作者： <%= @article.author %></h3>
    <h3>出版社： <%= @article.publisher_name %></h3>
    <p>出版社： <%= @article.itemcaption %></p>
    <p>出版社： <a><%= @article.item_url %></a>
  </div>
  
  <hr>
  
  <div class="form"> 
  <h3>要約</h2>
    <%= form_for @article do |f| %>
    <div class="form-group">
      <%= f.hidden_field :isbn, :value => @article.isbn %>
      <%= f.text_area :summary, size:"20x10", class: 'form-control' %>
    </div>
    <div class="form-group text-center">
      <%= f.submit '要約を投稿', class: 'btn btn-success btn-lg' %>
    </div>
    <% end %>
  </div>
</div>
